/*-------------------- Google Font --------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*-------------------- Color Variables --------------------*/
:root {
    --dark-green-color: #344e41;
    --medium-green-color: #3a5a40;
    --green-color: #588157;
    --light-green-color: #a3b18a;
    --bright-green-color: #1ca64c;
    --text-color: #333333;
    --body-color: #ffffff;
    --off-white-color: #dad7cd;

    --footer-bg: #f1f5f1;
    --text-dark: #2f2f2f;
    --text-muted: #666666;

    --font-logo: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
    --font-title: 'garamond-premier-pro', 'Poppins', sans-serif;
    --font-text: 'DS Trade Gothic', 'Poppins', sans-serif;
}
